@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #DBDDD8 1%, #A68D77  );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #40302293;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#26150B ;
    text-align: center;
    text-shadow: 1px 1px 2px #a68d777c;
}

h2 {
    color:#403022 ;
}

p {
    text-align: justify;
}